@charset 'utf-8';

@import 'settings';
@import 'foundation';
@import 'motion-ui';

@include foundation-global-styles;
@include foundation-grid;
// @include foundation-flex-grid;
//
@include foundation-xy-grid-classes;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
// @include foundation-range-input;
@include foundation-accordion;
@include foundation-accordion-menu;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-card;
@include foundation-close-button;
@include foundation-menu;
@include foundation-menu-icon;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-responsive-embed;
@include foundation-label;
@include foundation-media-object;
@include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;
@include foundation-visibility-classes;
// @include foundation-float-classes;
@include foundation-flex-classes;

// @include foundation-prototype-classes;

@include motion-ui-transitions;
@include motion-ui-animations;

$main: yellow;
$maineg: 'Neue Kabel W01 Book';
$mainjp: 'FOT-ロダンNTLG Pro';

@import url("http://fast.fonts.net/t/1.css?apiType=css&projectid=e26fd573-3daa-4f5a-bf10-2a53604d3fbb");
    @font-face{
        font-family:"Neue Kabel W01 Light";
        src:url("../fonts/b327b97f-69db-457a-9b68-0e0e171488a8.eot?#iefix");
        src:url("../fonts/b327b97f-69db-457a-9b68-0e0e171488a8.eot?#iefix") format("eot"),url("../fonts/bf2d8f16-6bf7-4198-9c5c-4047935777a1.woff2") format("woff2"),url("../fonts/d54cbb3d-92c4-4023-b754-02453faa009b.woff") format("woff"),url("../fonts/64587986-16a7-4722-a78a-a2178b167c0d.ttf") format("truetype"),url("../fonts/07ae441f-e2bd-4231-9085-6c1b26b745c2.svg#07ae441f-e2bd-4231-9085-6c1b26b745c2") format("svg");
    }
    @font-face{
        font-family:"Neue Kabel W01 Regular";
        src:url("../fonts/55df1b3c-bb6e-4d23-83df-1e359fa7432e.eot?#iefix");
        src:url("../fonts/55df1b3c-bb6e-4d23-83df-1e359fa7432e.eot?#iefix") format("eot"),url("../fonts/3ff31f52-477c-4730-9805-0fb9f23a1227.woff2") format("woff2"),url("../fonts/bd9f7fa5-44d9-4573-bd02-7f9d846b48ad.woff") format("woff"),url("../fonts/623165f4-a767-4d8b-ab7b-33b2bf22a83e.ttf") format("truetype"),url("../fonts/40358c16-5df0-4e1f-b4e9-4d218c5d62a6.svg#40358c16-5df0-4e1f-b4e9-4d218c5d62a6") format("svg");
    }
    @font-face{
        font-family:"Neue Kabel W01 Book";
        src:url("../fonts/17d87344-9ef5-48c1-8f1a-5210e0fea5eb.eot?#iefix");
        src:url("../fonts/17d87344-9ef5-48c1-8f1a-5210e0fea5eb.eot?#iefix") format("eot"),url("../fonts/c2327bbe-b103-4a28-96d4-7069aea07a41.woff2") format("woff2"),url("../fonts/a566974f-8eff-4e50-a5b2-0e2a35ed192e.woff") format("woff"),url("../fonts/5fc0eb6f-2f28-4b50-8fc2-4e544a897ed5.ttf") format("truetype"),url("../fonts/3a8b9c13-2347-45ee-b6b1-35bc60d8a0a7.svg#3a8b9c13-2347-45ee-b6b1-35bc60d8a0a7") format("svg");
    }
    @font-face{
        font-family:"Neue Kabel W01 Bold";
        src:url("../fonts/22d39f48-6ebf-4aa2-a803-e8aa85aaa835.eot?#iefix");
        src:url("../fonts/22d39f48-6ebf-4aa2-a803-e8aa85aaa835.eot?#iefix") format("eot"),url("../fonts/750b062a-1d0a-4ba2-9a5b-571c7d4153ee.woff2") format("woff2"),url("../fonts/92820db1-6935-4885-b266-15cc6f1091ce.woff") format("woff"),url("../fonts/d091f126-9ae7-45b5-a89a-5de45985b360.ttf") format("truetype"),url("../fonts/8dd94914-3373-46f8-a9e4-5b108739322c.svg#8dd94914-3373-46f8-a9e4-5b108739322c") format("svg");
    }
    @font-face{
        font-family:"Neue Kabel W01 Bold Italic";
        src:url("../fonts/c89362bf-dbe2-4826-a65c-3bd36601f00b.eot?#iefix");
        src:url("../fonts/c89362bf-dbe2-4826-a65c-3bd36601f00b.eot?#iefix") format("eot"),url("../fonts/c4aed4e3-da6f-4934-8126-b45beb66060c.woff2") format("woff2"),url("../fonts/39113d06-6f13-4986-92e2-a389e519a63b.woff") format("woff"),url("../fonts/1fb02ff0-cfde-423b-a110-bda3b4400dc4.ttf") format("truetype"),url("../fonts/1f07d8fa-0d0d-41d7-9c22-93c6ff1f1861.svg#1f07d8fa-0d0d-41d7-9c22-93c6ff1f1861") format("svg");
    }


#footer{
	background-color: $main;
	text-align: center;
	font-size: 12px;
	padding-top: 0.5rem;
	padding-bottom: 0.2rem;
	color: black;
}
#logo{
	padding: 0 0.5rem;
	font-size: 40px;
	color: black;
	opacity: 0.9;
	font-family: "Neue Kabel W01 Bold", $mainjp, sans-serif;
	font-weight: 700;
	transition: all 0.4s ease;
	&:hover{
		background-color: $main;
		color: black;
	}
}
.topmenu{
	color: black;
	font-size: 1.5rem;
	transition: all 0.4s ease;
	background-color: rgba(255, 255, 0, 0);
	font-family: "Neue Kabel W01 Bold", $mainjp, sans-serif;
	font-weight: 700;
	img{
		height: 1.4rem;
		transform: scale(1.2);
	}
	&:hover{
		background-color: $main;
		color: black;
	}
}
#title{
	margin-top: 5rem;
	text-align: center;
	margin-bottom: 2rem;
	h3{
		font-family: "Neue Kabel W01 Light";
	}
	h5{
		margin-bottom: -0.5rem;
	}
	h1, h5{
		font-family: $mainjp, $mainjp, sans-serif;
	}
	h1{
		font-family: "Neue Kabel W01 Bold", $mainjp, sans-serif;
		font-weight: 700;
		font-size: 4rem;
		margin-bottom: -2.5rem;
	}
	h4{
		font-family: "Neue Kabel W01 Bold", $mainjp, sans-serif;
		font-weight: 700;
		font-size: 2.5rem;
		letter-spacing: 0.2rem;
		opacity: 0.2;
	}
}
.days{
	text-align: center;
	margin-top: 2rem;
	font-family: $maineg, $mainjp, $mainjp, sans-serif;
	margin-bottom: 1rem;
	p{
		font-size: 1.5rem;
		margin-bottom: -5rem;
	}
	.huto{
		font-family: "Neue Kabel W01 Bold", $mainjp, sans-serif;
		font-weight: 700;
	}
}
#CDT{
	font-family: $maineg, 'A-OTF UD新ゴNT Pr6N';
 	font-size: 26px;
}
#CDT .day{
 font-size: 14rem;
 letter-spacing: -0.5rem;
 font-family: "Neue Kabel W01 Bold", $mainjp, sans-serif;
 font-weight: 700;
}
#CDT .hour,#CDT .min,#CDT .sec, #CDT .milli{
 display: none;
}
#topback{
	background-color: $main;
  background-image: gradient(linear, 0 100%, 100% 0,
            color-stop(.25, #fff), color-stop(.25, transparent),
            color-stop(.5, transparent), color-stop(.5, #fff),
            color-stop(.75, #fff), color-stop(.75, transparent),
            to(transparent));
  background-image: linear-gradient(45deg, #fff 25%, transparent 25%,
          transparent 50%, #fff 50%, #fff 75%,
          transparent 75%, transparent);
  background-size: 100px 100px;
  margin-bottom: 2rem;
}
#smday{
	font-size: 6rem;
	font-family: "Neue Kabel W01 Bold", $mainjp, sans-serif;
	font-weight: 700;
	vertical-align: 6px;
}
.sitayazi{
	width: 3rem;
	height: 3rem;
	border-right: 2px solid black;
	border-bottom: 2px solid black;
	margin-left: auto;
	margin-right: auto;
	transform: rotate(45deg);
	padding: 3px;
	transition: all 0.3s ease;
	&:hover{
		background-color: $main;
	}
}
.content{
	margin: 25% auto;
}
.midashi{
	text-align: center;
	background-color: $main;
  	background-image: gradient(linear, 0 100%, 100% 0,
    color-stop(.25, #fff), color-stop(.25, transparent),
    color-stop(.5, transparent), color-stop(.5, #fff),
    color-stop(.75, #fff), color-stop(.75, transparent),
    to(transparent));
    background-image: linear-gradient(45deg, #fff 25%, transparent 25%,
    transparent 50%, #fff 50%, #fff 75%,
    transparent 75%, transparent);
    background-size: 50px 50px;
    margin-bottom: 1rem;
    font-family: "Neue Kabel W01 Bold", $mainjp, sans-serif;
    font-weight: 700;
}
.catch{
	text-align: center;
	font-family: "Neue Kabel W01 Bold", $mainjp, sans-serif;
	font-weight: 700;
}
.grid-item{
	margin: 1rem;
	padding: 0.5rem;
	width: 150px;
	height: 150px;
	border-radius: 3px;
	border: 3px solid black;
	float: left;
	position: relative;
	cursor: pointer;
	transition: box-shadow 0.3s ease;
	&:hover{
		box-shadow:7px 7px 0px 0px $main;
	}
	img{
		margin-bottom: 0.3rem;
	}
	.labo{
		font-size: 0.7rem;
		margin-bottom: 0;
		background-color: rgba(255,255,255,0.7);
	}
	.wlabo{
		display: none;
	}
	.wname2{
		font-family: "Neue Kabel W01 Bold", $mainjp, sans-serif;
		font-weight: 700;
		font-size: 1rem;
		position: absolute;
		bottom: 0.2rem;
		background-color: white;
	}
	.wname{
		display: none;
	}
	.wcate{
		position: absolute;
		padding: 0 0.2rem;
		top: 0.5rem;
		right: 0.5rem;
		background-color: rgba(255,255,0,0.7);
		font-size: 0.6rem;
		font-family: "Neue Kabel W01 Bold", $mainjp, sans-serif;
		font-weight: 700;
	}
}
.button-group{
	button{
		font-family: "Neue Kabel W01 Bold", $mainjp, sans-serif;
		font-weight: 700;
		border: 3px solid black;
		padding: 3px;
		margin: -1.5px;
		cursor: pointer;
		transition: all 0.5s ease;
		&:hover{
			background-color: $main;
		}
	}

}

.is-checked{
	background-color: $main;
}
#grid:after {
  content: '';
  display: block;
  clear: both;
}
.grid-item > * {
  margin: 0;
  padding: 0;
}
#schedule{
	background-color: $main;
	margin-bottom: 1rem;
	img{
		padding: 1rem 1rem;
	}
}
.futo{
	font-family: "Neue Kabel W01 Bold", $mainjp, sans-serif;
	font-weight: 700;
}
.linkline{
	color: black;
	transition: all 0.5s ease;
	padding: 0 .1em;
  background-image: linear-gradient(to right, rgba(0,0,0,0) 50%, $main 50%);
  background-position: 0 0;
  background-size: 200% auto;
	&:hover{
		color: black;
		background-position: -100% 0;
	}
}
.detail{
	font-size: 0.9rem;
}
.ownpat{
	padding-left: 0.3rem;
	margin-top: 1rem;
	background-color: rgba(0, 0, 0, 0.3);
	color: white;
	font-family: "Neue Kabel W01 Bold", $mainjp, sans-serif;
	font-weight: 700;
	text-shadow: 0px 3px 7px rgba(0,0,0,0.5);
}
#sharefloat{
	width: 8rem;
	height: 8rem;
	background-color: rgba(255, 255, 0, 0.3);
	right: 0;
	float: left;
	padding: 1rem;
	#via{
		font-family: "Neue Kabel W01 Bold Italic", $mainjp, sans-serif;
		font-style: italic;
		font-size: 1.5rem;
		margin-bottom: -5px;
	}
	a{
		color: black;
		display: block;
		margin-bottom: 5px;
	}
	.share{
		background-image: linear-gradient(to right, rgba(0,0,0,0) 50%, $main 50%);
  		background-position: 0 0;
  		background-size: 200% auto;
		border: 2px solid black;
		text-align: center;
		font-family: "Neue Kabel W01 Bold", $mainjp, sans-serif;
		font-weight: 700;
		transition: all 0.5s ease;
		&:hover{
			background-position: -100% 0;
		}
	}
}
#skipcon4{
	margin-bottom: 0px;
}
.abeP{
	background-image: url("../img/patterns/2.jpg");
}
.andoP{
	background-image: url("../img/pattern/3.jpg");
	background-size: cover;
}