<div data-sticky-container>
  <div class="title-bar" data-responsive-toggle="responsive-menu" data-hide-for="medium">
    <button class="menu-icon" type="button" data-toggle="responsive-menu"></button>
    <div class="title-bar-title">Menu</div>
  </div>
  <div class="top-bar" data-sticky data-options="marginTop:0;" style="width:100%" id="responsive-menu" data-animate="hinge-in-from-top hinge-out-from-top">
    <div class="top-bar-title">
      <a href="#skipcon0" data-smooth-scroll data-animation-easing="swing" data-offset="100"><h3 id="logo">Pattern</h3></a>
    </div>
    <div>
      <div class="top-bar-right">
        <ul class="dropdown menu">
          <li><a href="#skipcon0" data-smooth-scroll data-animation-easing="swing" data-offset="100" class="topmenu">Home</a></li>
          <li><a href="#skipcon1" data-smooth-scroll data-animation-easing="swing" data-offset="100" class="topmenu">About</a></li>
          <li><a href="#skipcon15" data-smooth-scroll data-animation-easing="swing" data-offset="100" class="topmenu">Concept</a></li>
          <li><a href="#skipcon2" data-smooth-scroll data-animation-easing="swing" data-offset="100" class="topmenu">Works</a></li>
          <li><a href="#skipcon3" data-smooth-scroll data-animation-easing="swing" data-offset="100" class="topmenu">Schedule</a></li>
          <li><a href="#skipcon4" data-smooth-scroll data-animation-easing="swing" data-offset="100" class="topmenu">Access</a></li>
          <li><a href="https://twitter.com/51_adsotsuken" class="topmenu" target="_blank"><img src="assets/img/twitter.svg"></a></li>
          <li><a href="https://www.facebook.com/サレジオ高専卒業研究作品展-1120501064686174/" class="topmenu" target="_blank"><img src="assets/img/facebook.svg"></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>