<div data-sticky-container>
  <div class="top-bar" data-sticky data-options="marginTop:0;" style="width:100%">
    <div class="top-bar-title">
      <a href="index.html"><h3 id="logo">Pattern</h3></a>
    </div>
    <div>
      <div class="top-bar-right">
        <ul class="dropdown menu" data-dropdown-menu>
          <li><a href="#skipcon0" class="topmenu">Home</a></li>
          <li><a href="#skipcon1" class="topmenu">About</a></li>
          <li><a href="#skipcon2" class="topmenu">Works</a></li>
          <li><a href="#skipcon3" class="topmenu">Schedule</a></li>
          <li><a href="#skipcon4" class="topmenu">Access</a></li>
        </ul>
      </div>
      </div>
  </div>
</div>