<div data-sticky-container>
  <div class="top-bar" data-sticky data-options="marginTop:0;" style="width:100%">
    <div class="top-bar-title">
      <a href="#skipcon0"><h3 id="logo">Pattern</h3></a>
    </div>
    <div>
      <div class="top-bar-right">
        <ul class="dropdown menu" data-smooth-scroll data-animation-easing="swing" data-offset="100">
          <li><a href="#skipcon0" class="topmenu">Home</a></li>
          <li><a href="#skipcon1" class="topmenu">About</a></li>
          <li><a href="#skipcon2" class="topmenu">Works</a></li>
          <li><a href="#skipcon3" class="topmenu">Schedule</a></li>
          <li><a href="#skipcon4" class="topmenu">Access</a></li>
          <li><a href="https://twitter.com/51_adsotsuken" class="topmenu" target="_blank"><img src="assets/img/twitter.svg"></a></li>
          <li><a href="https://www.facebook.com/サレジオ高専卒業研究作品展-1120501064686174/" class="topmenu" target="_blank"><img src="assets/img/facebook.svg"></a></li>
        </ul>
      </div>
      </div>
  </div>
</div>