<div data-sticky-container>
  <div id="sharefloat" class="sticky" data-sticky data-stick-to="bottom">
    <p id="via">Share via</p>
    <a class="btn-social share" href="https://twitter.com/share?text=サレジオ工業高等専門学校 51期デザイン学科
卒業研究作品展&amp;url=http://salesio51th.github.io&amp;via=51_adsotsuken" target="_blank">Twitter</a>
    <a class="share" href="http://www.facebook.com/share.php?u=http://salesio51th.github.io" onclick="window.open(encodeURI(decodeURI(this.href)), 'FBwindow', 'width=554, height=470, menubar=no, toolbar=no, scrollbars=yes'); return false;" rel="nofollow">Facebook</a>
  </div>
</div>